/* top-level rules */

* { box-sizing: border-box }

html, body {
    margin: 0;
    height: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

h1 {
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  font-weight: 700;
  font-style: italic;

  font-size: 4em;
  line-height: .69em; /* mlib */
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover span {
  color: red;
}

h1 a:hover span:first-child {
  text-decoration: overline;
}

h1 a:hover span:last-child {
  text-decoration: underline;
}

a > span {
  display: inline-block;
  width: 100%;
}

/* colours */

h1 {
  color: #444;
}

h1 a:hover span {
  color: red;
}

.dot {
  color: red;
}

/* alternate colour scheme */
/*
body {
  background-color: #222;
}

h1 {
  color: white;
}

.dot {
  color: red;
}

h1 a:hover span {
  color: red;
}
*/

/* media queries */

/* < 568px */
@media screen and (max-width: 35.5em) {
  h1 {
    font-size: 6.5em;
  }

  h1 a > span:first-child {
    text-align: left;
  }

  h1 a > span:last-child {
    text-align: right;
  }
}

/* only rotate text if not in landscape mode */
@media screen and (max-width: 35.5em) and (orientation: portrait) {

  h1 {
    /* Safari */
    -webkit-transform: rotate(45deg);

    /* Firefox */
    -moz-transform: rotate(45deg);

    /* IE */
    -ms-transform: rotate(45deg);

    /* Opera */
    -o-transform: rotate(45deg);
  }
}

/* < 400px */
@media screen and (max-width: 25em) {
  h1 {
    font-size: 5.2em;
  }
}



/*
My old code
*/

#header
{
    font-family: 'Shonar Bangla', Geneva, Verdana, sans-serif;
    font-size: 2.3em;
    text-shadow: 0px 0px 10px #fdfefa;
    letter-spacing: 1px;
    margin: auto;
    width: 70%;
    padding: 15px 0px 5px 10px;
    min-height: 50px;
}



#left_sel_nav

{

    float: left;

    width: 18%;

}



#right_body

{

    float: left;

    width: 78%;

}



#head_body

{
    font-family: 'Shonar Bangla', Geneva, Verdana, sans-serif;
    font-size: 2.1em;
    text-shadow: 0px 0px 10px #232312;
    letter-spacing: 1px;
    margin: auto;

    width: 70%;

    padding: 15px 0px 5px 10px;

    height: 50px;
    line-height: 50px;

}

#mainer
{

    position: relative;
    border: 2px lightgrey solid;
    border-radius: 20px;
    box-shadow: #97a7b0 0px 0px 10px 10px;

    margin: auto;
    margin-bottom: 15px;
    padding: 0;
    width: 60%;
}

.selection
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.75em;
    position: absolute;
    border: 2px navy outset;
    border-radius: 10px;
    margin: auto;

    min-height: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    text-align: center;
    background-color: #01b1ff;

    display: none;
}



#analog_clock
{

    position: fixed;
    border: 2px lightgrey solid;
    border-radius: 10px;

    left: 80%;

    margin: auto;

    width: 15%;

    background-color: #01f131;

    z-index: 1;

}



#clock_face

{

    position: absolute;

    margin: auto;

    padding: 0;

    background-color: #fafafd;

}


.clock_incr

{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.75em;
    position: absolute;
    margin: auto;
    text-align: center;
    background-color: #01d14a;

}



#hour_hand

{

    position: absolute;

    background-color: #97680f;

    margin: auto;

    height: 2px;

    width: 25%;

    z-index: 1;

}



#minute_hand

{

    position: absolute;

    background-color: #21a460;

    margin: auto;

    height: 2px;

    width: 35%;

    z-index: 2;

}



#second_hand

{

    position: absolute;

    background-color: #970be3;

    margin: auto;

    height: 2px;

    width: 45%;

    z-index: 3;

}


a
{
    display: block;
    text-decoration: none;
}
a:link a:visited
{
    -webkit-transition: all 2s ease 0;
    transition: all 1s linear;
}
a:hover
{
    box-shadow: #fdfafd 0 0 16px 10px;
    background-color: #01b1dd;
}
a:active
{
    color: #fdfefd;
}

#footer
{

    clear: both;
    margin: 75px 0px 15px 0px;
    text-align: center;
}



.cool_icon

{

    position: absolute;

    background-color: #000000;

    margin: auto;

    height: 6px;

    width: 10%;

    z-index: 1;

}


