* { box-sizing: border-box }

html, body {
    margin: 0;
    height: 100%;
}

body {
  position: relative;
}

.wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.name .pure-g {
  text-align: center;
  font-size: 4em;
  line-height: .85em;
  font-weight: 600;
  color: #888;
  cursor: default;

  /* No select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
}

.name .pure-g [class*=pure-u] {
  font-family: 'Source Code Pro', monospace;
}

.name .pure-g:nth-child(5) [class*=pure-u] {
  color: #222;
  cursor: text;

  /* Selecting is possible */
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Chrome/Safari/Opera */
     -moz-user-select: text; /* Firefox */
      -ms-user-select: text; /* Internet Explorer/Edge */
          user-select: text; /* Non-prefixed version, currently
                                not supported by any browser */
}

.name--dev {
  border: grey 1px solid;
}

.name--dev .pure-g {
  border: orange 1px solid;
}

.name--dev .pure-g > div {
  border: green 1px solid;
}
